.pantalla {
  background-color: #eee;
  border: 1px solid #a6a6a6;
  box-shadow: #7b7b7b 0px 0px 5px inset;
  border: 2px red;
  font-size: 50px;
  margin-bottom: 16px;
  margin-top: 16px;
  max-height: 24%;
  overflow: auto;
  padding: 6px 10px;
}
